@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    padding: 50px;
}
